<head>
  <style>
  .navbar {
    background-color: rgb(32, 95, 43) 
  }
</style>
</head>
<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">Great quotes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
        <li class="nav-item">
          <a class="nav-link active me-4" href="/products">All quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active me-5"  href="/products/new">New quotes</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>